<h1>Eat-Da-Burger</h1>

<h2>Burgers Ordered</h2>
<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgerList}}
    {{/unless}}
  {{/each}}
</ol>

<h2>Burgers Devoured</h2>
<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgerList}}
    {{/if}}
  {{/each}}
</ol>

<h2>Order a Burger</h2>
<form class="orderForm">
  <textarea class="burgerInput"></textarea>
  <button type="submit">Order it!</button>
</form>