<h1>Eat-Da-Burger</h1>

<ol>
  {{#each burgers}}
    <li>
      {{burger_name}}
      <button class="devourIt" data-id="{{this.id}}">Devour it!</button>
    </li>
  {{/each}}
</ol>

<h2>Order a Burger</h2>
<form class="orderForm">
  <textarea class="burgerInput"></textarea>
  <button type="submit">Order it!</button>
</form>